body{
    background: #f4f4f4;
    margin: 0;    
    
}

.titleLink{
    font-size: 40px;
    text-decoration: none;
    color: black;
    
    
}


.container{
    width: 700px;
    margin: 0 auto;
    background: #FFF;
    
}

.header{
    padding: 40px 0 20px 30px;
    border: 2px solid black;
}

.menu{
    background: #3b7686;
    padding: 6px 0 6px 40px;
    
}

.menu a{
    color: #c5d6db;
    text-decoration: none;
}
.menu a:hover{
    color: darkblue;
}
footer{
    padding: 6px 40px 6px 40px;
    background: #d6d6d6;
    text-decoration: right;
}